	<html>
<head>
	<link rel="shortcut icon" type="png" href="{{asset('images/icon/favicon.png')}}">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Comaptible" content="IE=edge">

        <title>{% block title %}Welcome!{% endblock %}</title>
	<meta name="desciption" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{{asset('style.css')}}">
	<script type="text/javascript" src="{{asset('script.js')}}"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
	<script>
		$(window).on('scroll', function(){
  			if($(window).scrollTop()){
  			  $('nav').addClass('black');
 			 }else {
 		   $('nav').removeClass('black');
 		 }
		})
	</script>
</head>
<body>
<!-- Navigation Bar -->
	<header id="header">
		<nav>
			<div class="logo"><img src="{{asset('images/icon/logo2.png')}}" alt="logo"></div>
			<ul>
				<li><a class="active" href="">Home</a></li>
				<li><a href="#portfolio_section">ddd</a></li>
				<li><a href="#team_section">dfds</a></li>
				<li><a href="#services_section">Services</a></li>
				<li><a href="#contactus_section">Contact</a></li>
			</ul>
			<div class="srch"><input type="text" class="search" placeholder="Search here..."><img src="{{asset('images/icon/search.png')}}" alt="search" onclick=slide()></div>
			<a class="get-started" href="{{path('app_login')}}">Login</a>
			<img src="{{asset('images/icon/menu.png')}}" class="menu" onclick="sideMenu(0)" alt="menu">
		</nav>
	</header>
	<br><br><br><br><br><br><br><br>

    
        {% block body %}{% endblock %}


    <!-- Sliding Information -->
	<marquee style="background: linear-gradient(to right, #FA4B37, #DF2771); margin-top: 50px;" direction="left" onmouseover="this.stop()" onmouseout="this.start()" scrollamount="20"><div class="marqu">“Education is the passport to the future, for tomorrow belongs to those who prepare for it today.” “Your attitude, not your aptitude, will determine your altitude.” “If you think education is expensive, try ignorance.” “The only person who is educated is the one who has learned how to learn …and change.”</div></marquee>

<!-- FOOTER -->
	<footer>
		<div class="footer-container">
			<div class="left-col">
				<img src="{{asset('images/icon/logo - Copy.png')}}" style="width: 200px;">
				<div class="logo"></div>
				<div class="social-media">
					<a href="#"><img src="{{asset('images/icon\fb.png')}}"></a>
					<a href="#"><img src="{{asset('images/icon\insta.png')}}"></a>
					<a href="#"><img src="{{asset('images/icon\tt.png')}}"></a>
					<a href="#"><img src="{{asset('images/icon\ytube.png')}}"></a>
					<a href="#"><img src="{{asset('images/icon\linkedin.png')}}"></a>
				</div><br><br>
				<p class="rights-text">Copyright © 2021 Created By Roshan Kumar, Abhishek Dulat All Rights Reserved.</p>
				<br><p><img src="{{asset('images/icon/location.png')}}"> Lovely Professional University<br>Phagwara, Punjab-144401</p><br>
				<p><img src="{{asset('images/icon/phone.png')}}"> +91-1234-567-890<br><img src="{{asset('images/icon/mail.png')}}">&nbsp; learnedonline9419@gmail.com</p>
			</div>
			<div class="right-col">
				<h1 style="color: #fff">Our Newsletter</h1>
				<div class="border"></div><br>
				<p>Enter Your Email to get our News and updates.</p>
				<form class="newsletter-form">
					<input class="txtb" type="email" placeholder="Enter Your Email">
					<input class="btn" type="submit" value="Submit">
				</form>
			</div>
		</div>
	</footer>

</body>
</html>

